{% extends "base.html" %}

{% block content %}
    <section>
        <h2>Проекты</h2>
        <ul>
            <li>
                <h>К сожалению, у меня нет официального опыта работы, так как после университета я вышла замуж и посвятила себя семейной жизни. Однако, я готова и стремлюсь начать свою профессиональную карьеру и применить свои знания и навыки на практике.</h>
                <p>Хотя у меня нет крупных проектов, я активно участвовала в различных маленьких задачах и проектах, которые доступны на моем GitHub. Эти проекты демонстрируют мои практические навыки и подход к решению проблем.</p>
                
            </li>
        </ul>
    </section>
{% endblock %}
